<app-menu></app-menu>
<div class="container" style="text-align: center">
    <img src="../../../../assets/logotipo.jpeg" class="img-fluid" width="300" height="300">
</div>
<div class="container">
  <table class="table table-Light table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Ver</th>
        <th scope="col" *ngIf="isComercializadora">Editar</th>
        <th scope="col" *ngIf="isComercializadora">Borrar</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{producto.id}}</td>
        <td>{{producto.nombre}}</td>
        <td>{{producto.precio}}€</td>
        <a href="verificacion" class="btn btn-success"
        style="" type="button"><i class="fas fa-eye"></i> Ver</a>
        
      </tr>
    </tbody>
  </table>
  <div class="mt-3" *ngIf="isComercializadora">
    <button class="btn btn-outline-success btn-lg" routerLink="/nuevo">
      <i class="fas fa-plus-circle"></i> Nuevo Producto</button>
  </div>

</div>
