<app-menu></app-menu>
<div class="container" style="text-align: center">
    <img src="../../../../assets/logotipo.jpeg" class="img-fluid" width="300" height="300">
</div>
<h1 align="center">Verificación Documentos</h1>
<div class="container">
    <div class="container" style="text-align: center">
        <div class="form-row">
            <div class="col">
                <label for="name">Cliente: </label>
                <input type="text" name="name" class="form-control" placeholder="Cliente" required>
            </div>
            <div class="col">
                <label for="name">Placa: </label>
                <input type="email" name="email" class="form-control" placeholder="Placa" required>
            </div>
        </div>
    </div>
</div>

<!--Tabla-->

<div class="container">
    <div class="row">
        <div class="col-sm-5 col-md-6">
            <h2 align="center">Factura</h2>
            <div class="underline"></div>
            <!--Fecha-->
            <label for="name">Fecha: </label>
            <input type="text" id="name" name="user_name" class="form-control" placeholder="" required>
            <!--Cedula-->
            <label for="name">Cédula: </label>
            <input type="text" id="name" name="user_name" class="form-control" placeholder="" required>
            <!--Nombre-->
            <label for="name">Nombre: </label>
            <input type="text" id="name" name="user_name" class="form-control" placeholder="" required>
            <!--Cedula-->
            <label for="name" class="mr-5">Descripcion:</label>
            <textarea type="text" class="form-control" name="message" rows="3" required></textarea>
        </div>

        <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
            <h2 align="center">Garantia</h2>
            <div class="underline"></div>
            <!--Número de Chasis-->
            <label for="name">Número de Chasis: </label>
            <input type="text" id="name" name="user_name" class="form-control" placeholder="" required>
            <!--Número de Motor-->
            <label for="name">Número de Motor: </label>
            <input type="text" id="name" name="user_name" class="form-control" placeholder="" required>
            <!--Año Fabricacion-->
            <label for="name">Año de fabicación: </label>
            <input type="text" id="name" name="user_name" class="form-control" placeholder="" required>
            <!--RAMV-->
            <label for="name">RAMV:</label>
            <input type="text" id="name" name="user_name" class="form-control" placeholder="" required>
        </div>
    </div>
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col ">
           <a href="comercializadora-aceptacion" class="btn btn-success" style="margin-block: 20px; margin-top: 40px;"
                type="button"><i class="far fa-check-circle"></i> Aceptar</a>
        </div>
        <div class="col">
           <a href="informe-rechazo" class="btn btn-danger" style="margin-block: 20px; margin-top: 40px;"
                type="button"><i class="far fa-times-circle"></i> Denegar</a>
        </div>
        <div class="col">
           <a href="iniciocomercializadora" class="btn btn-dark" style=" margin-block: 20px; margin-top: 40px;"
                type="button"><i class="fas fa-chevron-circle-left"></i> Regresar</a>
        </div>
    </div>
</div>