<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>



  <body >
 

    <h1 align="center">LISTADO DE SOLICITUDES DE GARANTIA</h1>
    
      <br>
      <table class="table table-bordered" >
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Cedula</th>
            <th scope="col">Nombre </th>
            <th scope="col">Apellido</th>
            <th scope="col">Reclamos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>0106598754</td>
            <td>john</td>
            <td>suquilanda</td>
            <td><button type="button" class="btn btn-warning">Generar Reclamo</button></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>0106598754</td>
            <td>john</td>
            <td>suquilanda</td>
            <td><button type="button" class="btn btn-warning">Generar Reclamo</button></td>
          </tr>
      </table>
    

  </body>

</html>